* {
   margin: 0;
   padding: 0;
   background-color: #eeeeee
}
section p {
   text-align: center;
   color: #00008B;
    padding: 20px;
    font-size: 4rem; /* Initial/default: 16px or 1em; */
line-height: .9; /* Initial/default: normal, or about 1.2 */
font-family: 'Source Sans Pro', sans-serif;
}
section {
   padding: 50px;

}

.border {
   background-color: #ffffff;
   text-align: center;
   font: 32px Arial, sans-serif;

}

#flex-container {
   display: flex;
   color: #FFFFFF;
 text-decoration: none;

   /*
      Uncomment the following properties one by one to see how the flex container
      handles excess whitespace.
   */
   /* justify-content: flex-start; */
   /* justify-content: flex-end; */
   /* justify-content: center; */
   /* justify-content: space-between; */
   /* justify-content: space-around; */
   justify-content: space-evenly;
}

#flex-container1 {
   display: flex;

   /*
      Uncomment the following properties one by one to see how the flex container
      handles excess whitespace.
   */
   /* justify-content: flex-start; */
   /* justify-content: flex-end; */
   /* justify-content: center; */
   /* justify-content: space-between; */
   /* justify-content: space-around; */
   justify-content: space-evenly;
}

#flex-container2 {
   display: flex;

   /*
      Uncomment the following properties one by one to see how the flex container
      handles excess whitespace.
   */
   /* justify-content: flex-start; */
   /* justify-content: flex-end; */
   /* justify-content: center; */
   /* justify-content: space-between; */
   /* justify-content: space-around; */
   justify-content: space-evenly;
}

#flex-container3 {
   display: flex;
   justify-content: space-evenly;
}


.flex-item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 150px;
}




#flex-container4 {
   display: flex;
   justify-content: space-evenly;
    color: black;
     font-size: 1.2rem;
     font-weight: 300;
  }
.top-right {
    position:
    top: 0px;
    right: 0px;
}
/* .flex-item:nth-child(odd) {
   background-color: rgb(240, 240, 240);
}

.flex-item:nth-child(even) {
   background-color: rgb(220, 220, 220);
}
*/
