* {
   margin: 0;
   padding: 0;
   background-color: #DCDCDC
}

.border {
   background-color: #ffffff;
   text-align: center;
   font: 32px Arial, sans-serif;

}
.numberCircle {
  border-radius: 0%;
  /* remove if you don't care about IE8 */
  width: 46px;
  height: 46px;
  padding: 8px;
  background: #fff;
  border: 3px solid #ffffff;
  color: #00008B;
  background-color: #ffffff;
  text-align: center;
  font: 32px Arial, sans-serif;
}
#flex-container {
   display: flex;
   color: #FFFFFF;
 text-decoration: none;

   /*
      Uncomment the following properties one by one to see how the flex container
      handles excess whitespace.
   */
   /* justify-content: flex-start; */
   /* justify-content: flex-end; */
   /* justify-content: center; */
   /* justify-content: space-between; */
   /* justify-content: space-around; */
   justify-content: space-evenly;
}

#flex-container1 {
   display: flex;

   /*
      Uncomment the following properties one by one to see how the flex container
      handles excess whitespace.
   */
   /* justify-content: flex-start; */
   /* justify-content: flex-end; */
   /* justify-content: center; */
   /* justify-content: space-between; */
   /* justify-content: space-around; */
   justify-content: space-evenly;
}

#flex-container2 {
   display: flex;

   /*
      Uncomment the following properties one by one to see how the flex container
      handles excess whitespace.
   */
   /* justify-content: flex-start; */
   /* justify-content: flex-end; */
   /* justify-content: center; */
   /* justify-content: space-between; */
   /* justify-content: space-around; */
   justify-content: space-evenly;
}

#flex-container3 {
   display:flex;
   justify-content: center;
}

.flex-item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 250px;
}

/* .flex-item:nth-child(odd) {
   background-color: rgb(240, 240, 240);
}

.flex-item:nth-child(even) {
   background-color: rgb(220, 220, 220);
}
*/
